<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Tracking Number</title>
</head>
<body>
    <h1>Edit Tracking Number</h1>
        <form action="/edited/{{i['id']}}" method="post">
            <div class="row">
                <div class="col">
                    <label for="sender">Sender</label>
                    <input type="text" name="sender" id="sender" value="{{i['sender']}}">
                </div>
                <div class="col">
                    <label for="carrier">Carrier</label>
                    <input type="text" name="carrier" id="carrier" value="{{i['carrier']}}">
                </div>
                <div class="col">
                    <label for="tracking_number">Tracking Number</label>
                    <input type="text" name="tracking_number" id="tracking_number" value="{{i['tracking_number']}}">
                </div>
                <div class="col">
                    <label for="status">Status</label>
                    <input type="text" name="status" id="status" value="{{i['status']}}">
                </div>
            </div>
            <div class="col">
                <label for = ""></label>
                <input type="submit" value="Submit">
            </div>
        </form>
</body>
</html>