{% extends "navbar.html" %}

{% block head %}
<title>Home Page</title>
{% endblock %}

{% block nav %}
    <h1>Delivery Tracker</h1>
    <div>
    <table>
        <thead>
        <tr>
            <th>Sender</th>
            <th>Carrier</th>
            <th>Tracking Number</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        {% for i in tracking_list %}
        <tr>
            <td>{{i['sender']}}</td>
            <td>{{i['carrier']}}</td>
            <td>{{i['tracking_number']}}</td>
            <td>{{i['status']}}</td>
            <td>
                <a href="/edit/{{i['id']}}"><button type="button">Edit</button></a>
                <a href="/delete/{{i['id']}}"><button type="button">Delete</button></a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    <div>
        <h2>Add or Filter Tracking Numbers</h2>
        <form action="/add" method="POST">
            <div class="row">
                <div class="col">
                    <input type="text" name="sender" id="sender" placeholder="Sender">
                </div>
                <div class="col">
                    <select name="carrier" id="carrier">
                        <option value="None" selected hidden>Carrier</option>
                        <option value="Amazon">Amazon</option>
                        <option value="DHL">DHL</option>
                        <option value="FedEx">FedEx</option>
                        <option value="UPS">UPS</option>
                        <option value="USPS">USPS</option>
                    </select>
                </div>
                <div class="col">
                    <input type="text" name="tracking_number" id="tracking_number" placeholder="Tracking Number">
                </div>
                <div class="col">
                    <select name="status" id="status">
                        <option value="None" selected hidden>Status</option>
                        <option value="Pending ">Pending</option>
                        <option value="In Transit">In Transit</option>
                        <option value="Delivered">Delivered</option>
                    </select>
                </div>
            </div>
            <div>
                <input type="submit" formaction="add" value="Add">
                <input type="submit" formaction="filter" value="Filter">
            </div>
        </form>
    </div>
{% endblock %}